<a href="https://colab.research.google.com/github/Hruthikaveldi/23CSBTB29/blob/main/listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())


# **Implement Basic Data Structures using Numpy, Pandas**

In [6]:
import numpy as np

In [7]:
lst=(2,4,6,8,10)
print(lst)
print(type(lst))

(2, 4, 6, 8, 10)
<class 'tuple'>

In [8]:
lst={2:4,5:25,3:9,8:64,6:36}
print(lst)
print(type(lst))

{2: 4, 5: 25, 3: 9, 8: 64, 6: 36}
<class 'dict'>

In [9]:
lst=[2,4,6,8,10]
print(lst)
print(type(lst))

[2, 4, 6, 8, 10]
<class 'list'>

In [10]:
lst={1:"Apple",2:"Banana",3:"Orange"}
print(lst)
print(type(lst))

{1: 'Apple', 2: 'Banana', 3: 'Orange'}
<class 'dict'>

In [12]:
lst="Welcome to AIML Lab"
print(lst)
print(type(lst))

Welcome to AIML Lab
<class 'str'>

In [13]:
lst=3.4
print(lst)
print(type(lst))

3.4
<class 'float'>

In [15]:
lst=2j+6
print(lst)
print(type(lst))

(6+2j)
<class 'complex'>